.header {
}

td * a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.MuiButtonBase-root:hover > a{
    color: rgb(24, 118, 210);
}
.MuiButtonBase-root:hover {
background-color: white !important;
}

.tableBody{
    border-radius: 20px !important;
    background-color: red;
    border: 1px solid black;
}